[Desktop Entry]
Encoding=UTF-8
Name=Link to Go to file
Type=Link
URL=https://github.com/dmattek/shiny-timecourse-inspector/find/master
Icon=text-html
